@(listAttivita: List[Attivita])
@import helper._
@import helper.twitterBootstrap._

@main("Attività") {

<div class="activities">
<table class="table table-striped">
    <thead>
      <tr>
        <th>codice</th>
        <th>cliente</th>
        <th>nome</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(attivita <- listAttivita) {

      <tr>
        <td><a href="@routes.Activities.details(attivita)">@attivita.codice</a></td>
        <td><a href="@routes.Clienti.details(attivita.cliente.nome)">@attivita.cliente.nome</a></td>
        <td><a href="@routes.Activities.details(attivita)">@attivita.lavoro.tipo</a></td>
        <td><a href="@routes.Activities.details(attivita)"><i class="icon icon-pencil"></i></a>  
        </td>
      </tr>
      }
  
    </tbody>
   </table>
    <a href="@routes.Activities.newActivity()" class="btn">
    <i class="icon-plus"></i> Nuova attività</a>
    </div>
}